/* frontend/src/styles/globals.css */

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: #222222; 
    font-family: 'Inter', ui-sans-serif, system-ui;
    background-color: #FAFBFC;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .font-sans {
    font-family: 'Red Hat Display', ui-sans-serif, system-ui;
  }
}